mixin actions-site
    .actions&attributes(attributes)
        a.actions__link.actions__login(href="#!")
            span Вход
        a.actions__link.actions__register(href="#!")
            span Регистрация
        a.actions__link.actions__email(href="mailto:sport@gmail.com")
            span sport@gmail.com