mixin actions-site
    .actions&attributes(attributes)
        a.actions__link.actions__link_login(href="#!")
            span Вход
        a.actions__link.actions__link_register(href="#!")
            span Регистрация
        a.actions__link.actions__link_email(href="mailto:sport@gmail.com")
            span sport@gmail.com