mixin banner
    section.hero.main-content__hero.swiper
        ul.hero-list.swiper-wrapper
            li.hero-list__item.swiper-slide
                img(src="img/main-banner/banner-1.jpg", alt="hero-1")
                .hero-list__hero-content.hero-content
                    h3.hero-content__title мега <br>
                        span распродажа
                    .hero-content__offer
                        div <strong> успей купить</strong> <span> тренажеры </span>
                        p по старой цене
                        div.hero-content__text <span>до их</span> повышения
                    .hero-content__main-info
                        .hero-content__price.price--rub от 45 000
                        a(href="#!") Подробнее
            li.hero-list__item.swiper-slide
                img(src="img/main-banner/banner-2.jpg", alt="hero-2")
                .hero-list__hero-content.hero-content
                    h3.hero-content__title мега <br>
                        span распродажа
                    .hero-content__offer
                        div <strong> успей купить</strong> <span> тренажеры </span>
                        p по старой цене
                        div.hero-content__text <span>до их</span> повышения
                    .hero-content__main-info
                        .hero-content__price.price--rub от 45 000
                        a(href="#!") Подробнее
            li.hero-list__item.swiper-slide
                img(src="img/main-banner/banner-3.jpg", alt="hero-3")
                .hero-list__hero-content.hero-content
                    h3.hero-content__title мега <br>
                        span распродажа
                    .hero-content__offer
                        div <strong> успей купить</strong> <span> тренажеры </span>
                        p по старой цене
                        div.hero-content__text <span>до их</span> повышения
                    .hero-content__main-info
                        .hero-content__price.price--rub от 45 000
                        a(href="#!") Подробнее
            li.hero-list__item.swiper-slide
                img(src="img/main-banner/banner-4.jpg", alt="hero-4")
                .hero-list__hero-content.hero-content
                    h3.hero-content__title мега <br>
                        span распродажа
                    .hero-content__offer
                        div <strong> успей купить</strong> <span> тренажеры </span>
                        p по старой цене
                        div.hero-content__text <span>до их</span> повышения
                    .hero-content__main-info
                        .hero-content__price.price--rub от 45 000
                        a(href="#!") Подробнее
        ul.hero-dots