mixin banner
    section.banner.main-content__banner.swiper-container
        ul.banner-list.swiper-wrapper
            li.banner-list__item.swiper-slide
                img(src="img/main-banner/banner-1.jpg", alt="banner-1")
                .banner-list__banner-content.banner-content
                    h3.banner-content__title мега <br>
                        span распродажа
                    .banner-content__offer
                        div <strong> успей купить</strong> <span> тренажеры </span>
                        p по старой цене
                        div.banner-content__text <span>до их</span> повышения
                    .banner-content__main-info
                        .banner-content__price.price--rub от 45 000
                        a(href="#!") Подробнее
            li.banner-list__item.swiper-slide
                img(src="img/main-banner/banner-2.jpg", alt="banner-2")
                .banner-list__banner-content.banner-content
                    h3.banner-content__title мега <br>
                        span распродажа
                    .banner-content__offer
                        div <strong> успей купить</strong> <span> тренажеры </span>
                        p по старой цене
                        div.banner-content__text <span>до их</span> повышения
                    .banner-content__main-info
                        .banner-content__price.price--rub от 45 000
                        a(href="#!") Подробнее
            li.banner-list__item.swiper-slide
                img(src="img/main-banner/banner-3.jpg", alt="banner-3")
                .banner-list__banner-content.banner-content
                    h3.banner-content__title мега <br>
                        span распродажа
                    .banner-content__offer
                        div <strong> успей купить</strong> <span> тренажеры </span>
                        p по старой цене
                        div.banner-content__text <span>до их</span> повышения
                    .banner-content__main-info
                        .banner-content__price.price--rub от 45 000
                        a(href="#!") Подробнее
            li.banner-list__item.swiper-slide
                img(src="img/main-banner/banner-4.jpg", alt="banner-4")
                .banner-list__banner-content.banner-content
                    h3.banner-content__title мега <br>
                        span распродажа
                    .banner-content__offer
                        div <strong> успей купить</strong> <span> тренажеры </span>
                        p по старой цене
                        div.banner-content__text <span>до их</span> повышения
                    .banner-content__main-info
                        .banner-content__price.price--rub от 45 000
                        a(href="#!") Подробнее
        ul.banner-dots