mixin contacts
    ul.contacts&attributes(attributes)
        li.contacts__item.contacts__item_icon
            p.contacts__label Москва
            a.contacts__link(href="tel:+74991234567") 8-499-123-45-67
        li.contacts__item
            p.contacts__label Бесплатно для России
            a.contacts__link(href="tel:+78001234567") 8-800-123-45-67