footer.footer
    .container
        .footer__other-info.other-info
            .other-info__left-col
                .other-info__inner-left-col
                    .footer__logo-wrap
                        img.footer__logo(src="img/logo.png" alt="логотип logoShop")
                        p.footer__logo-text.logo__text спортивный магазин
                    +contacts.footer__contacts
                    ul.footer__pay-list.pay-list
                        li.pay-list__item
                            img.pay-list__img(src="img/visa.png" alt="visa")
                        li.pay-list__item
                            img.pay-list__img(src="img/mc.png" alt="mastercard")
                        li.pay-list__item
                            img.pay-list__img(src="img/wm.png" alt="webmoney")
                        li.pay-list__item
                            img.pay-list__img(src="img/ym.png" alt="yandexmoney")
                        li.pay-list__item
                            img.pay-list__img(src="img/qiwi.png" alt="qiwi")
                .other-info__inner-right-col
                    .footer__companies.companies
                        h3.companies__title Доставка транспортными компаниями:
                        ul.companies__list
                            li.companies__item
                                img.companies__img(src="img/деловыелинии.png" alt="деловыелинии")
                            li.companies__item
                                img.companies__img(src="img/пэк.png" alt="пэк")
                            li.companies__item
                                img.companies__img(src="img/автотрейдинг.png" alt="автотрейдинг")
                            li.companies__item
                                img.companies__img(src="img/желдор.png" alt="желдор")
                            li.companies__item
                                img.companies__img(src="img/кит.png" alt="кит")
                            li.companies__item
                                img.companies__img(src="img/байкалсервис.png" alt="байкалсервис")
            .other-info__right-col
                ul.widgets
                    li.widgets__item
                        img.widgets__img(src="img/vk_widget.png", alt="vk_widget" title="Место для виджета-1")
                    li.widgets__item
                        img.widgets__img(src="img/vk_widget.png", alt="vk_widget" title="Место для виджета-2")
        .footer__bottom
            p ©2015 Все права защищены.
            +socials.footer_socials

 
