mixin socials
    ul.socials&attributes(attributes)
        li.socials__item
            a.socials__link(href="#!")
                img(src="img/vk.png", alt="vk-icon")
        li.socials__item
            a.socials__link(href="#!")
                img(src="img/fb.png", alt="fb-icon")
        li.socials__item
            a.socials__link(href="#!")
                img(src="img/instagram.png", alt="instagram-icon")
        li.socials__item
            a.socials__link(href="#!")
                img(src="img/ok.png", alt="ok-icon")
