.submenu-list {
    padding: 20px 0 30px;
    border-bottom: 1px solid #dedede;
    &__link {
        display: block;
        padding: 10px 20px;
        color: #36949f;
        &:hover {
            color: #fff;
            background: #66cccc;
            transition: .2s;
        }
    }
}

.submenu-item {
    position: absolute;
    top: 0;
    right: -282px;
    z-index: -1;
    display: none;
    width: 282px;
    height: 657px;
    background: #fff;
    border: 2px solid #36949f;
    opacity: 0;
    @media (min-width: 1100px) {
        display: block;
    }
    &--active {
        z-index: 4;
        opacity: 1;
    }
    .card-item {
        width: inherit;
        margin-bottom: 0;
        border: none;
        &__titles {
            margin-bottom: 40px;
        }
        &__name {
            font-weight: normal;
        }
    }
}

.mobile-submenu {
    max-height: 0;
    overflow-y: hidden;
    @media (min-width: 1100px) {
        display: none;
    }
    &--active {
        background: #14c0d4;
        transition: max-height .3s;
        .submenu-list {
            padding: 0 0 0 20px;
            border: none;
            &__link {
                color: #fff;
                &:hover {
                    background: transparent;
                }
            }
        }
    }
}

