.times {
    position: relative;
    padding-left: 37px;
    color: #999;
    &:after {
        position: absolute;
        top: 4px;
        left: 0;
        width: 22px;
        height: 22px;
        content: "";
        background: url("../img/times.png") no-repeat;
    }
    &__text {
        &:not(:last-child) {
            margin-bottom: 5px;
        }
        strong {
            margin-right: 2px;
        }
    }
}